@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Changa", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero-section{
  background: rgb(76,5,25);
  background: -moz-linear-gradient(152deg, rgba(76,5,25,1) 12%, rgba(219,39,119,1) 100%);
  background: -webkit-linear-gradient(152deg, rgba(76,5,25,1) 12%, rgba(219,39,119,1) 100%);
  background: linear-gradient(152deg, rgba(76,5,25,1) 12%, rgba(219,39,119,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c0519",endColorstr="#db2777",GradientType=1);
}